<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="Best UI">
  <meta name="author" content="Gryffindor">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.common-material.min.css"/>
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.material.min.css"/>
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.material.mobile.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/show-hint.css">

  <style>html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }</style>
  <title></title>

</head>

<body data-ng-app="bestUI">
<div data-ng-controller="BestUIController">
  {{greeting}}



  <div id="example2">
    <div id="horizontal">

      <div id="left-pane">
        <div id="vertical-left">
          <div id="top-pane-left">
            <div class="pane-content">
            </div>
          </div>
          <div id="bottom-pane-left">
            <div class="pane-content">
              <div id="example">
                <div class="demo-section k-content">
                  <div class="box-col">
                    <h4>TreeView</h4>
                    <div kendo-tree-view="tree"
                         k-data-source="treeData"
                         k-on-change="selectedItem = dataItem">
                <span k-template>
                     {{dataItem.text}} <button class='k-button' ng-click='click(dataItem)'>Select</button>
                 </span>
                    </div>
                  </div>
                  <div class="box-col" ng-show="selectedItem">
                    <h4>Selected: {{selectedItem.text}}</h4>
                    <button class="k-button" ng-click="addAfter(selectedItem)">Add item below</button>
                    <button class="k-button" ng-click="addBelow(selectedItem)">Add child item</button>
                    <button class="k-button" ng-click="remove(selectedItem)">Delete</button>
                  </div>
                </div>
                <style>
                  .k-treeview .k-in {
                    padding: 5px;
                  }
                </style>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="center-pane">
        <div id="vertical-center">
          <div id="top-pane">
            <div class="pane-content">
              <div id="tabstrip">
                <ul>
                  <li class="k-state-active">
                    First screen
                  </li>
                  <li>
                    Cardholder
                  </li>
                  <li>
                    Summary screen
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="right-pane">
        <div class="pane-content">
          <button data-ng-click="showCodeEditor()">Edit validation script</button>
        </div>
      </div>
    </div>
  </div>

  <div class="scriptpopup" data-ng-show="editingCode">
    <div><button data-ng-click="closeCodeEditor()">close</button></div>
    <div id="code"></div>
  </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jszip.min.js"></script>
<script src="js/console.js"></script>
<script src="https://kendo.cdn.telerik.com/2016.3.1118/js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/mode/simple.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/mode/javascript/javascript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/edit/matchbrackets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/javascript-hint.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/hint/show-hint.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/addon/search/match-highlighter.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>

<script src="js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2016.3.1118/js/kendo.all.min.js"></script>

<script src="js/scripts.js"></script>

<script>
  $("#horizontal").kendoSplitter({
    panes: [
      {collapsible: true},
      {collapsible: false},
      {collapsible: true}
    ]
  });

  $("#vertical-left").kendoSplitter({
    orientation: "vertical",
    panes: [
      {collapsible: false, size: "100px"},
      {collapsible: false, size: "100px"}
    ]
  });
  $("#vertical-center").kendoSplitter({
    orientation: "vertical",
    panes: [
      {collapsible: false, size: "100px"},
      {collapsible: false, size: "100px"}
    ]
  });
</script>

<script>
  var sc = "function validateField(fieldValue){\n\n}";
  var code = document.getElementById("code");
  function hhint(editor, options) {
    var attributes = [
      "policyHolder",
      "policyHolder.name",
      "policyHolder.surname",
      "policyHolder.address",
      "policyHolder.addressCompany",
      "policyHolder.addressCompany.street",
      "policyHolder.addressCompany.city",
      "policyHolder.address.street",
      "policyHolder.address.city",
      "policyHolder.address.postalCode",
      "payments.totalPremium",
      "payments.bankAccount"
    ];
    var ret = CodeMirror.helpers.hint.javascript(editor, options);
    var cursor = editor.getCursor();
    var line = editor.getLine(cursor.line).substr(0, cursor.ch);

    var lastModel = line.lastIndexOf("model.");
    if (lastModel !== -1) {
      line = line.substr(lastModel + 6);
      var lastDot = line.lastIndexOf(".");
      console.log("first scan: "+line);
      if (lastDot === -1) {
        console.log(line);
        attributes.forEach(function (path) {
          if (path.indexOf(line) === 0)ret.list.push(path);
        });
      } else {
        //line = line.substr(0, lastDot);
        console.log(line);
        attributes.forEach(function (path) {
          if (path.indexOf(line) === 0)ret.list.push(path.substr(lastDot+1));
        });
      }

    }
    return ret;
  }
  //CodeMirror.helpers.hint.javascript
  var editor = CodeMirror(code, {
    extraKeys: {"Ctrl-Space": "autocomplete"},
    value: (sc),
    lineNumbers: true,
    mode: "javascript",
    matchBrackets: {bothBrackets: true},
    highlightSelectionMatches: {showToken: /\w/, annotateScrollbar: true},
    //mode: "text/x-markdown",
    hintOptions: {hint: hhint}
  });
  var widgets = [];
  function updateHints() {
    editor.operation(function () {
      for (var i = 0; i < widgets.length; ++i) {
        editor.removeLineWidget(widgets[i]);
      }
      widgets.length = 0;

      JSHINT(editor.getValue());
      for (var i = 0; i < JSHINT.errors.length; ++i) {
        var err = JSHINT.errors[i];
        if (!err) {
          continue;
        }
        var msg = document.createElement("div");
        var icon = msg.appendChild(document.createElement("span"));
        icon.innerHTML = "!!";
        icon.className = "lint-error-icon";
        msg.appendChild(document.createTextNode(err.reason));
        msg.className = "lint-error";
        widgets.push(editor.addLineWidget(err.line - 1, msg, {coverGutter: false, noHScroll: true}));
      }
    });
    var info = editor.getScrollInfo();
    var after = editor.charCoords({line: editor.getCursor().line + 1, ch: 0}, "local").top;
    if (info.top + info.clientHeight < after) {
      editor.scrollTo(null, after - info.clientHeight + 3);
    }
  }

  var waiting;
  editor.on("change", function () {
    clearTimeout(waiting);
    waiting = setTimeout(updateHints, 500);
  });

  setTimeout(updateHints, 100);
</script>

<script>

  $("#tabstrip").kendoTabStrip({
    animation: {
      open: {
        effects: "fadeIn"
      }
    }
  });
</script>
</body>
</html>
